<ion-view>
    <ion-content title="Help">

        <ion-slide-box show-pager="false">
            <ion-slide>
                <img style="width: 100%;" src="file:///android_asset/www/img/help/Help--1.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%;" src="file:///android_asset/www/img/help/Help-2.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%;" src="file:///android_asset/www/img/help/Help-3.png">
            </ion-slide>
        </ion-slide-box>

    </ion-content>
</ion-view>